/* .App{
  width:360px;
  height: 640px;
  background-color: lightskyblue;
  position: relative;




}
.problem{
float:left;
height:60px;

}
.time{
float:left;

}
.location{
float:left;

}
.photo{
float:left;

}
.category{
  float:left;

}
  
.Button{
  text-align: center;

}
.input{
  margin: 20px;
  height: 80px;
  
}
.infor{
  margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;

}
.text{
  float: left;
} */
